{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "members/teacher/assign_task.css" %}"/>
{% endblock %}

{% block content %}
<div class="assign_task_container">
    <h2>Przydzialesz zadanie grupie:  {{ group_name }}</h2>
    <form action="/confirmassigningtasktogroup/{{ group_id }}/" method="post">
        {% csrf_token %}
        <select name = 'task_assigned'>
            {% for t in tasks %}
                <option value="{{ t.id }}">{{ t.name}}</option>
            {% endfor %}
        </select>

        <button type="submit">Zatwierdź</button>
    </form>
</div>
{% endblock %}