{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "members/teacher/archives.css" %}"/>
{% endblock %}

{% block content %}
<div class="">
    <div class="overflow--scroll">
        <div class="task_table">
            <h2>Wszystkie zadania:</h2>
            <table>
                <thead>
                  <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    {% for t in page_obj %}
                        <tr>
                            <td class="table_name">{{ t.name }}</td>
                            <td class="table_content">{{ t.task_content}}</td>
                            <td class="table_options">
                                <a href="deletetask/{{ t.id }}">Usuń</a>
                                <a href="taskstudents/{{ t.id }}">Przypisani uczniowie</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
             {% include 'pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}
