.charts__container {
    display: flex;
    flex-direction: column;
    width: 90%;
}


@media(min-width: 1024px) {
    .charts__container {
        margin: 5vh auto;
        justify-content: center;
        flex-direction: row;
    }

    .sum_of_points__container {
        width: 60%;
    }

    .ratio__container {
        width: 40%;
    }
}