main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow--scroll {
    overflow: auto;
}

.task_table {
    margin: 10vh 5vw;
    max-width: 1300px;
}

.children_table h2 ,
.task_table h2 {
    text-align: center;
    margin-bottom: 3vh;
}

table {
  border-collapse: collapse;
  box-shadow: 20px 20px 20px 5px #ab811c;
  background-color: white;
  text-align: left;
  padding: 0 5vw;
  border-bottom: 20px solid #FFCA49FF;
  min-width: 600px;
}

th {
    background-color: #FFCA49FF;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

td {
    padding: 1rem 2rem;
}

.task_to_do__name {
    width: 40%;
}

.task_to_do__content {
    width: 60%;
}

.children_name {
    width: 35%;
}

tr:nth-child(even) {
    background-color: #ffdc87;
}

tr td a {
    text-decoration: none;
    color: #275EF5;
}

tr:hover {
    background-color: #a78126;
}

tr td a:hover,
tr td a:active {
    color: #618bff;
}

.no_assignment {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 6px black;
    padding: 4vh 2vw;
}

@media (min-width: 1024px) {
    .overflow--scroll {
        overflow: inherit;
    }
}
