.container {
    width: 100%;
    margin: 10vh auto;
}

@media (min-width: 568px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 1366px) {
    .container {
        width: 70%;
    }
}