.nav-links,
.main-navigation__menu-btn {
    display: none;
}

.change-password {
    text-align: center;
    margin: 5vh auto;
    width: 90%;
    border: 1px solid black;
    box-shadow: 0 0 6px black;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2ead3;
    border-radius: 20px;
    max-width: 500px;
    padding: 2vh 2vw;
    list-style-position: inside;
}

.change-password h2 {
    margin-bottom: 2vh;
}

form p {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

form p input {
    padding: .3rem 0 .3rem .3rem
}

form ul {
    text-align: left;
}

form button {
    padding: .5rem 1.2rem;
    background-color: #FFCA49FF;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: .8rem;
    cursor: pointer;
}

form button:hover,
form button.active {
    box-shadow: 0 0 6px black;
}

@media (min-width: 1024px) {
    form {
        padding: 1rem;
    }

    .change-password {
        min-height: 40vh;
    }
}

@media (min-width: 1366px) {
    form {
        flex-basis: 30%;
    }
}