* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 8vh;
    flex-grow: 1;
    background-color: #fff8e5;
}

.backdrop.active {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.85);
    z-index: 6;
}

